<div id="" class="conteiner-fluid hero"></div>
<!--
        <div id="home" class="row align-items-center hero">
            <figure class="notificacion">
                <div class="notificacion-body">
                    Hola! me llamo Axel Gaston Sequeira, soy desarrollador web front-end developer. Realice un curso en la academia Corderhouse y me encuentro cursando actualmente en la UTN.
                    <img src="./img/imgperfil.jpg" alt="hand" title="saludo" class="hand_icon">
                </div>
            </div>
            -->
<div class="conteineraboutme" id="aboutme">
    <div class="cardam">
        <div class="background">
            <img src="./images/imgperfil.jpg" alt="">
        </div>
        <div class="content">
            <h2>Axel Gaston Sequeira</h2>
            <p>Hola! me llamo Axel Gaston Sequeira, soy desarrollador web front-end developer.
                Realice cursos en Coderhouse,E-learning y EducacionIT. Actualmente estoy en búsqueda de mi primer
                experiencia laboral en el mundo IT, poder crecer personal y profesionalmente. Mi sueño es convertirme en un
                desarrollador experto, capaz de liderar
                equipos y ayudar a los demás a mejorar y seguir aprendiendo del mundo IT.</p>
        </div>


    </div>

</div>
<div>
    <a href="../public/images/Cv_AGSS.pdf" download="CV_AGS">
        <button class="boton">
            <span class="botontext">Descargar CV</span>
            <img class="imgdescarga" src="./images/download-icon.ico" width="20px" height="20px" alt="">
        </button>
    </a>
</div>

</figure>
</div>

<!--SNACKBAR-->




<!--SKILLS-->
<!-- <div class="skills">
        <div id="skills" class="col-med-5 offset-md-2 py-3">
            <h2 class="skillstitle">Skills</h2>
            <ul class="lista-skills">
                <li><a href="#"> <img class="imgskills" src="./images/html5.png" alt="html logo">HTML</a></li>
                <li><a href="#"> <img class="imgskills" src="./images/css3.png" alt="css logo">CSS</a></li>
                <li><a href="#"> <img class="imgskills" src="./images/bootstrap.jpg" alt="bootstrap logo">BOOTSTRAP</a></li>
                <li><a href="#"> <img class="imgskills" src="./images/js.png" alt="javascript logo">JAVASCRPT</a></li>
                <li><a href="#"> <img class="imgskills" src="./images/node.png" alt="node.js logo">NODE.JS</a></li>
                <li><a href="#"> <img class="imgskills" src="./images/mysql.png" alt="mysql logo">MYSQL</a></li>
            </ul>

        </div>
    </div> -->

<!--SKILLS-->
<h2 class="skillstitle" id="skills">Skills</h2>
<div class="container d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-6">
            <ul class="lista-skills col-6">
                <li><a href="#"><img class="imgskills" src="./images/html5.png" alt="html logo">HTML</a></li>
                <li><a href="#"><img class="imgskills" src="./images/css3.png" alt="css logo">CSS</a></li>
                <li><a href="#"><img class="imgskills" src="./images/bootstrap.jpg" alt="bootstrap logo">BOOTSTRAP</a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="lista-skills col-6">
                <li><a href="#"><img class="imgskills" src="./images/js.png" alt="javascript logo">JAVASCRIPT</a></li>
                <li><a href="#"><img class="imgskills" src="./images/node.png" alt="node.js logo">NODE.JS</a></li>
                <li><a href="#"><img class="imgskills" src="./images/mysql.png" alt="mysql logo">MYSQL</a></li>

                </li>
            </ul>

        </div>
    </div>
</div>



<!--Formulario-->

<section id="contactos" class="container container-contact">
    <div class="row">
        <div class="col-12 col-md-6 form-left d-flex align-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-7 m-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-titlewp">Whats App</h5>
                            <p class="card-textform">3794096164</p>
                            <a href="https://wa.link/mat9xp" class="btn btn-primary" target="_blank">Enviar Mensaje</a>

                        </div>
                    </div>
                </div>
                <div class="col-7 m-4 ">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-titlemail">Correo Electronico</h5>
                            <p class="card-textform">axel10bbch@gmail.com</p>
                            <a href="https://mailtrap.io/" class="btn btn-primary" target="_blank">Enviar mail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 form-right">
            <form class="m-4" action="/" method="post">
                <div class="form-group">
                    <h2>Contacto</h2>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
                </div>
                <div class="form-group">
                    <textarea class="textarea col-12" class="form-control" rows="7" placeholder="Mensaje" id="mensaje"
                        name="mensaje"></textarea>
                </div>

                <button type="submit" class="btn btn-primary col-12">Enviar</button>
            </form>
            <p class="message">{{message}}</p>
        </div>
    </div>

</section>


<!--Formulario-->

<!--BOTONERA REDES S-->
<section>
    <div class="fab-container">
        <div class="fab shadow">
            <div class="fab-content">
                <span class="material-icons">support_agent</span>
            </div>
        </div>
        <div class="sub-button shadow">
            <a href="https://wa.link/mat9xp" target="_blank">
                <span class="fa fa-whatsapp"></span>
            </a>
        </div>
        <div class="sub-button shadow">
            <a href="https://www.instagram.com/axelsequeiras/" target="_blank">
                <span class="fa fa-instagram"></span>
            </a>
        </div>
        <div class="sub-button shadow">
            <a href="https://www.linkedin.com/in/axel-gaston-sequeira-sundberg-65739424a/" target="_blank">
                <span class="fa fa-linkedin"></span>
            </a>
        </div>
        <div class="sub-button shadow">
            <a href="https://github.com/Agss10" target="_blank">
                <span class="fa fa-github"></span>
            </a>
        </div>
    </div>


</section>

<!--BOTONERA REDES S-->